<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.citymediatv.iptv"
    android:versionCode="21"
    android:versionName="1.4.10">
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- for most things, including card.io & paypal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.citymediatv.iptv.AuthenticationAcitivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.citymediatv.iptv.NetworkCheckActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.citymediatv.iptv.MainActivity"
            android:label=""
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.citymediatv.iptv.RegisterActivity"
            android:label=""
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.citymediatv.iptv.PlanActivity"
            android:label=""
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.citymediatv.iptv.ChannelsActivity"
            android:label=""
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.citymediatv.iptv.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <!-- Points to searchable meta data -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.citymediatv.iptv.VodActivity"
            android:label=""
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.citymediatv.iptv.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <!-- Points to searchable meta data -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.citymediatv.iptv.VodMovieDetailsActivity"
            android:label=""
            android:parentActivityName=".VodActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.citymediatv.iptv.VodActivity" />
        </activity>
        <activity
            android:name="com.citymediatv.iptv.VideoPlayerActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.citymediatv.iptv.MXPlayerActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.citymediatv.iptv.MyAccountActivity"
            android:label=""
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>

        <provider
            android:name="com.citymediatv.database.ServiceProvider"
            android:authorities="com.citymediatv.database.ServiceProvider"
            android:exported="false" />
        <!-- paypal -->
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />
        <service
            android:name="com.citymediatv.service.DoBGTasksService"
            android:exported="false" />
<activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        
          <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <!-- paypal -->
    </application>

</manifest>